# Python
__pycache__/
*.py[cod]
*.pyd
*.so
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/

# Virtual envs
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Go / GOPATH caches (do NOT commit)
yapproj_gopath/
**/pkg/mod/
**/pkg/sumdb/
**/bin/
